* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: arial;
  background: #9c2915;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  font-size: 10rem;
}
