// Colors
$light-color: #ffffff;
$light-bg-color: hsl(229, 50%, 40%);
$input-background: #4259a7;
$input-error: #a22029;

$pure-dark: hsla(229, 78%, 13%, 0.938);
$dark: hsla(229, 78%, 20%, 0.938);
$not-dark: hsla(229, 78%, 40%, 0.7);
$light: hsla(120, 60%, 70%, 0.3);


